<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gasnap_2.0</title>
    <link rel="stylesheet" href="solo.css">
    <script type="text/javascript" src="solo.js"></script>
  </head>
  <body>
    <h1>Gasnap_2.0</h1>
      <p>Gas delivered to your car, wherever you are.</p>
    <h2>For Drivers</h2>
      <p>Gas comes to you!</p>
    <h2>For Stations</h2>
      <p>Serving customers where they are!</p>
  </body>
</html>
